@media (prefers-color-scheme: dark) {
    input[type="number"] {
        background-color: #121212;
        color: #fcfcfc;
    }
}

input {
    width: 40px;
}

input[type="number"] {
    border: 1px solid #918f87;
}

input[type="text"] {
    border: 1px solid #918f87;
    width: 30em;
    height: 3em;
}

.row {
    display: flex;
}

.left, .right {
    flex: 50%;
}
