@media (prefers-color-scheme: dark) {
    input[type="number"] {
        background-color: #121212;
    }
}

input {
    width: 40px;
}

input[type="number"] {
    border: 1px solid #918f87;
}

.row {
    display: flex;
}

.left, .right {
    flex: 50%;
}
