body {
	background-color: #ecf0f1;
	color: black;
	margin: 0;
	padding: 0;
	top: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
}

/*Header and Navigation Bar*/
nav {
	text-align: center;
	width: 100%;
	background-color: #2c3e50;
	z-index: 10;
}
#nav-banner {
	font-size: 150%;
	font-family: 'Open Sans', sans-serif;
	line-height: 2em;
	text-align: center;
	padding: 0.5em;
	color: #ecf0f1;
}
.logo {
	vertical-align: middle;
	max-height: 2em;
	max-width: 2em;
	padding-right: 1em;
	fill: #ecf0f1;
}
#nav-banner span {
	padding-left: 1em;
	border-left: 3px solid #ecf0f1;
}

/*Page Content*/
#content {
	
}
.section {
    max-width: 50em;
    margin: 0 auto;
    position: relative;
}
.left, .right {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 1em;
}
.left {
    font-weight: bold;
    width: 20%;
    max-width: 15em;
    text-align: right;
    color: #e74c3c;
}
.right {
    max-width: 35em;
    text-align: left;
}
#footer {
	font-size: 0.9em;
	color: #2c3e50;
	text-align: center;
	padding-bottom: 1em;
}
#footer img {
	max-width: 30em;
}
ul {
	margin: 0;
}

/*Re-size elements based on screen width*/
@media screen and (max-width: 50em) {
	body {
		font-size: 110%;
	}
}
