body {
    background-color: #ecf0f1;
    color: black;
    margin: 0;
    padding: 0;
    top: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
}

#toggle-weather {
    position: absolute;
    font-size: 150%;
    font-weight: normal;
    color: white;
    border: 2px solid #717171;
    border-radius: 5px;
    display: inline-block;
    background-color: #717171;
    padding: 2px 5px;
    box-shadow: 2px 2px #383838;
    top: 80vh;
    left: 47.25vw;
}
#welcome {
    position: absolute;
    font-size: 250%;
    font-weight: lighter;
    color: #5b5b5b;
    top: 10vh;
    left: 5vw;
    max-width: 30vw;
}
#scroll-tri {
    position: absolute;
    display: block;
    left: 50vw;
    top: 90vh;
    width: 50px;
    height: 50px;
    animation: bounce 3.5s ease infinite;
}
@keyframes bounce {
    0% {
        top: 90vh;
    }
    60% {
        top: 93vh;
    }
}

/*Page Contents*/
#content {
    position: relative;
    top: 110vh;
}
.section {
    max-width: 50em;
    margin: 0 auto;
    position: relative;
}
.left, .right {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 1em;
}
.left {
    font-weight: lighter;
    font-size: 13pt;
    width: 20%;
    max-width: 15em;
    text-align: right;
    color: #c0392b;
}
.right {
    max-width: 35em;
    text-align: left;
    /*line-height: 1.3em;*/
}
#footer {
    font-size: 0.9em;
    color: #2c3e50;
    text-align: center;
    padding-bottom: 1em;
}
#footer img {
    max-width: 30em;
}
ul {
    margin: 0;
    padding-left: 1.25em;
    list-style-type: square;
}
li {
    padding-top: 0.5em;
}
a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-bottom: 1.5px dashed black;
}

/*Re-size elements based on screen width*/
@media screen and (max-width: 50em) {
    body {
        font-size: 110%;
    }
}
