html {
    font-family: Arial;
}

ul {
    list-style-type: none;
    padding-bottom: 8px;
}

li {
    padding: 5px 0;
}

a {
    outline: none;
    text-decoration: none;
}

a:link {
    border-bottom: 1px solid;
    color: black;
}

a:visited {
    color: black;
}

a:focus, a:hover {
    font-weight: bold;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
}

.wrapper {
    width: 50%;
    margin: 10% auto;
}

.row {
    display: flex;
}

.title-column {
    flex: 30%;
}

.content-column {
    flex: 70%;
    line-height: 1.5em;
}