<body> 
    <script type="text/javascript" src="/js/asoiaf-minis-calc.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
        integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/asoiaf-minis-calc.css">

    <div>
        <hr>
        
        <div>
            <button onclick="importInputs()">Import</button>
            <input id="import" type="text"></input>
            <button onclick="exportInputs()">Export</button>
            <button onclick="copyExport()">Copy</button>
            <pre id="export"></pre>
        </div>

        <div class="row">
            <div class="left">
                Unit A
            </div>

            <div class="right">
                Unit B
            </div>
        </div>

        <hr>

        <form id="inputs">
            <div class="row">
                <div class="left">
                    <div>
                        <input type="number" name="left-attack-dice" id="left-attack-dice" min="1" max="16" data-theme="dark">
                        <label for="left-attack-dice" title="Number of attack dice being rolled">Attack dice</label>
                    </div>
            
                    <div>
                        <input type="number" id="left-attack-hit" min="1" max="6">
                        <label for="left-attack-hit" title="Target value for attack dice to hit">Attack hit</label>
                    </div>
                    
                    <div>
                        <input type="number" id="left-defense-block" min="1" max="6">
                        <label for="left-defense-block" title="Target value for defensive dice to save">Defense save</label>
                    </div>
            
                    <div>
                        <input type="number" id="left-defense-morale" min="1" max="8">
                        <label for="left-defense-morale" title="Target value for panic check to pass">Morale</label>
                    </div>
    
                    <div>
                        <input type="checkbox" id="left-include-blocks" checked>
                        <label for="left-include-blocks">Include blocks</label>
                    </div>
                </div>
    
                <div class="right">
                    <div>
                        <input type="number" id="right-attack-dice" min="1" max="16">
                        <label for="right-attack-dice" title="Number of attack dice being rolled">Attack dice</label>
                    </div>
            
                    <div>
                        <input type="number" id="right-attack-hit" min="1" max="6">
                        <label for="right-attack-hit" title="Target value for attack dice to hit">Attack hit</label>
                    </div>
                    
                    <div>
                        <input type="number" id="right-defense-block" min="1" max="6">
                        <label for="right-defense-block" title="Target value for defensive dice to save">Defense save</label>
                    </div>
            
                    <div>
                        <input type="number" id="right-defense-morale" min="1" max="8">
                        <label for="right-defense-morale" title="Target value for panic check to pass">Morale</label>
                    </div>
    
                    <div>
                        <input type="checkbox" id="right-include-blocks" checked>
                        <label for="right-include-blocks">Include blocks</label>
                    </div>
                </div>
            </div>
    
            <hr>
    
            <div class="row">
                <div class="left">
                    <span>Modifiers</span>
        
                    <div>
                        <input type="checkbox" id="left-modifiers-critical-blow">
                        <label for="left-modifiers-critical-blow" title="Rolls of 6 count as 2 hits">Critical Blow</label>
                    </div>
        
                    <div>
                        <input type="checkbox" id="left-modifiers-vicious">
                        <label for="left-modifiers-vicious" title="-2 to panic test">Vicious</label>
                    </div>
        
                    <div>
                        <input type="checkbox" id="left-modifiers-charge">
                        <label for="left-modifiers-charge" title="Re-roll misses">Successful charge</label>
                    </div>
        
                    <div>
                        <input type="checkbox" id="left-modifiers-sundering">
                        <label for="left-modifiers-sundering" title="-1 to defense saves">Sundering</label>
                    </div>
        
                    <div>
                        <input type="radio" id="left-modifiers-front" name="left-modifiers-direction" value="modifiers-direction-front" checked>
                        <label for="left-modifiers-front" title="No effect">Attack in front</label>
                    </div>
        
                    <div>
                        <input type="radio" id="left-modifiers-flank" name="left-modifiers-direction" value="modifiers-direction-flank">
                        <label for="left-modifiers-flank" title="-1 to defense saves, -1 to panic test">Attack in flank</label>
                    </div>
        
                    <div>
                        <input type="radio" id="left-modifiers-rear" name="left-modifiers-direction" value="modifiers-direction-rear">
                        <label for="left-modifiers-rear" title="-2 to defense saves, -2 to panic test">Attack in rear</label>
                    </div>
    
                    <span>Conditions</span>
        
                    <div>
                        <input type="checkbox" id="left-modifiers-weakened">
                        <label for="left-modifiers-weakened" title="Re-roll attack hits, attacker only">Weakened</label>
                    </div>
        
                    <div>
                        <input type="checkbox" id="left-modifiers-panicked">
                        <label for="left-modifiers-panicked" title="Re-roll panic test, defender only">Panicked</label>
                    </div>
        
                    <div>
                        <input type="checkbox" id="left-modifiers-vulnerable">
                        <label for="left-modifiers-vulnerable" title="Re-roll defense saves, defender only">Vulnerable</label>
                    </div>
                </div>
    
                <div class="right">
                    <span>Modifiers</span>
        
                    <div>
                        <input type="checkbox" id="right-modifiers-critical-blow">
                        <label for="right-modifiers-critical-blow" title="Rolls of 6 count as 2 hits">Critical Blow</label>
                    </div>
        
                    <div>
                        <input type="checkbox" id="right-modifiers-vicious">
                        <label for="right-modifiers-vicious" title="-2 to panic test">Vicious</label>
                    </div>
        
                    <div>
                        <input type="checkbox" id="right-modifiers-charge">
                        <label for="right-modifiers-charge" title="Re-roll misses">Successful charge</label>
                    </div>
        
                    <div>
                        <input type="checkbox" id="right-modifiers-sundering">
                        <label for="right-modifiers-sundering" title="-1 to defense saves">Sundering</label>
                    </div>
        
                    <div>
                        <input type="radio" id="right-modifiers-front" name="right-modifiers-direction" value="modifiers-direction-front" checked>
                        <label for="right-modifiers-front" title="No effect">Attack in front</label>
                    </div>
        
                    <div>
                        <input type="radio" id="right-modifiers-flank" name="right-modifiers-direction" value="modifiers-direction-flank">
                        <label for="right-modifiers-flank" title="-1 to defense saves, -1 to panic test">Attack in flank</label>
                    </div>
        
                    <div>
                        <input type="radio" id="right-modifiers-rear" name="right-modifiers-direction" value="modifiers-direction-rear">
                        <label for="right-modifiers-rear" title="-2 to defense saves, -2 to panic test">Attack in rear</label>
                    </div>
    
                    <span>Conditions</span>
        
                    <div>
                        <input type="checkbox" id="right-modifiers-weakened">
                        <label for="right-modifiers-weakened" title="Re-roll attack hits, attacker only">Weakened</label>
                    </div>
        
                    <div>
                        <input type="checkbox" id="right-modifiers-panicked">
                        <label for="right-modifiers-panicked" title="Re-roll panic test, defender only">Panicked</label>
                    </div>
        
                    <div>
                        <input type="checkbox" id="right-modifiers-vulnerable">
                        <label for="right-modifiers-vulnerable" title="Re-roll defense saves, defender only">Vulnerable</label>
                    </div>
                </div>
            </div>
        </form>

        <hr>

        <div class="row">
            <div class="left">
                <div>
                    Average wounds: <span id="left-averageWounds"></span>
                </div>
        
                <div>
                    Probability of panic: <span id="left-panicProbability"></span>
                </div>
        
                <div>
                    Average panic wounds: <span id="left-avgPanicWounds"></span>
                </div>
        
                <div>
                    Average total wounds: <span id="left-avgTotalWounds"></span>
                </div>
            </div>

            <div class="right">
                <div>
                    Average wounds: <span id="right-averageWounds"></span>
                </div>
        
                <div>
                    Probability of panic: <span id="right-panicProbability"></span>
                </div>
        
                <div>
                    Average panic wounds: <span id="right-avgPanicWounds"></span>
                </div>
        
                <div>
                    Average total wounds: <span id="right-avgTotalWounds"></span>
                </div>
            </div>
        </div>

        <hr>

        <div>
            Chart type:
            <div>
                <input type="radio" id="chart-type-at-least" name="chart-type" value="chart-type-at-least" checked>
                <label for="chart-type-at-least" title="At least X wounds">At least X wounds</label>
            </div>

            <div>
                <input type="radio" id="chart-type-exactly" name="chart-type" value="chart-type-exactly">
                <label for="chart-type-exactly" title="Exactly X wounds">Exactly X wounds</label>
            </div>
        </div>

        <div>
            <label for="probability-chart">Probability curve:</label>
            <div style="position: relative; height:400px; width:600px">
                <canvas id="probability-chart" height="400" width="600"></canvas>
            </div>
        </div>

        <hr>
    </div>
    <footer>
        <div>
            Assumptions:
            <ul>
                <li>This will not re-roll hits that could be re-rolled in the hope of getting a 6 in order to combo with
                    Critical Blow, although this technical would be a valid (if mathematically risky) strategy.</li>
                <li>Any Charge re-rolls happen first and Weakened re-rolls happen second (this should technically
                    trigger
                    in order of who is the first player).</li>
                <li>Always spend all condition tokens for re-rolls.</li>
            </ul>
        </div>
    </footer>
</body>
