<body> 
    <script type="text/javascript" src="/js/secret-santa.js"></script>

    <div>
        <div>
            <table id="participants">
                <thead>
                    <th>Participant</th>
                    <th>Significant Other</th>
                    <th>Last Year's Selection</th>
                </thead>
                <tbody></tbody>
            </table>
            <div style="display: flex;">
                <button onclick="addParticipant()" style="margin: 1em;">Add row</button>
                <button onclick="assign()" style="margin: 1em;">Assign</button>
            </div>
            <table id="assignments">
                <thead>
                    <th>Participant</th>
                    <th>Recipient</th>
                </thead>
                <tbody></tbody>
            </table>
        </div>
</body>
